In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import count

In [2]:
spark = (SparkSession.builder.appName("TotalOrdersPerRegionCountry").getOrCreate())

In [3]:
type(spark)

pyspark.sql.session.SparkSession

In [4]:
sales_file = "data/sales_records.csv"

sales_df = (spark.read.format("csv").option("header","true").option("inferSchema","true").load(sales_file))

sales_df.select("Region","Country", "Order ID").show(n=10, truncate=False)

+---------------------------------+---------------------+---------+
|Region                           |Country              |Order ID |
+---------------------------------+---------------------+---------+
|Middle East and North Africa     |Azerbaijan           |535113847|
|Central America and the Caribbean|Panama               |874708545|
|Sub-Saharan Africa               |Sao Tome and Principe|854349935|
|Sub-Saharan Africa               |Sao Tome and Principe|892836844|
|Central America and the Caribbean|Belize               |129280602|
|Europe                           |Denmark              |473105037|
|Europe                           |Germany              |754046475|
|Middle East and North Africa     |Turkey               |772153747|
|Europe                           |United Kingdom       |847788178|
|Asia                             |Kazakhstan           |471623599|
+---------------------------------+---------------------+---------+
only showing top 10 rows

In [5]:
type(sales_df)

pyspark.sql.dataframe.DataFrame

In [6]:
count_sales_df = (sales_df.select("Region", "Country", "Order ID")
                      .groupBy("Region","Country").agg(count("Order ID").alias("Total Orders"))
                      .orderBy("Total Orders",ascending = False)
                 )

count_sales_df.show(n=10, truncate=False)

print("Total Rows = ", (count_sales_df.count()))

+---------------------------------+------------+------------+
|Region                           |Country     |Total Orders|
+---------------------------------+------------+------------+
|Sub-Saharan Africa               |Sudan       |623         |
|Australia and Oceania            |New Zealand |593         |
|Europe                           |Vatican City|590         |
|Sub-Saharan Africa               |Mozambique  |589         |
|Europe                           |Malta       |589         |
|Middle East and North Africa     |Tunisia     |584         |
|Asia                             |Cambodia    |584         |
|Central America and the Caribbean|Panama      |578         |
|Sub-Saharan Africa               |Rwanda      |576         |
|Sub-Saharan Africa               |South Africa|575         |
+---------------------------------+------------+------------+
only showing top 10 rows

Total Rows =  185