# Convert Farhenheit to Degrees Centrigrate

In [1]:
from pyspark.sql import SparkSession
spark = (SparkSession.builder.appName("TempConversion").getOrCreate())

def fahrenheitToCentrigrade(temperature):
    centrigrade = (temperature - 32) * 5 / 9
    return centrigrade

temps_in_f = [59, 57.2, 53.6, 55.4, 51.8, 53.6, 55.4]
rdd_temps_in_f = spark.sparkContext.parallelize(temps_in_f)

In [2]:
rdd_temps_in_c = rdd_temps_in_f.map(fahrenheitToCentrigrade)
rdd_temps_in_c.collect()

[15.0, 14.000000000000002, 12.0, 13.0, 10.999999999999998, 12.0, 13.0]

In [3]:
rdd_temps_in_c_fil = rdd_temps_in_c.filter(lambda x: x >= 13)
rdd_temps_in_c_fil.collect()

[15.0, 14.000000000000002, 13.0, 13.0]

# XYZ Research

Imagine working as a Data Scientist for a company called XYZ Research that performs research on many diversified topics, and each research project comes with a Research ID.

Each Research can be completed within a year and beyond.

Take a look at the data below;

data2001List = ['RIN1', 'RIN2', 'RIN3', 'RIN4', 'RIN5', 'RIN6', 'RIN7']

data2002List = ['RIN3', 'RIN4', 'RIN7', 'RIN8', 'RIN9']

data2003List = ['RIN4', 'RIN8', 'RIN10', 'RIN11', 'RIN12']

The above-mentioned data indicates the number of projects that have been completed over a period of 3 years.

In 2001, there were at least 7 research projects [RIN1 - 7] that were initiated, RIN8 and RIN9 were initiated in 2002, while RIN10, RIN11, and RIN12 were initiated in 2003.

RIN3 also appears in 2002, meaning that the research project has actually spanned over 2 years, RIN4, on the other hand, appears in 2001, 2002, and 2003 which means that the research project spanned over 3 years.

XYZ Research Requires you to examine the data and find answers to the following questions;

1. How many research projects were initiated in the three years?

2. How many projects were completed in the first year?

3. How many projects were completed in the first two years?

In [4]:
data2001List = ['RIN1', 'RIN2', 'RIN3', 'RIN4', 'RIN5', 'RIN6', 'RIN7']
data2002List = ['RIN3', 'RIN4', 'RIN7', 'RIN8', 'RIN9']
data2003List = ['RIN4', 'RIN8', 'RIN10', 'RIN11', 'RIN12']

In [5]:
#Initilize the RDDs
RDD_data2001List = spark.sparkContext.parallelize(data2001List)
RDD_data2002List = spark.sparkContext.parallelize(data2002List)
RDD_data2003List = spark.sparkContext.parallelize(data2003List)

### How many research projects were initiated in the three years?

In [6]:
RDD_all_research = RDD_data2001List.union(RDD_data2002List.union(RDD_data2003List)).distinct()
RDD_all_research.collect()

['RIN4',
 'RIN10',
 'RIN2',
 'RIN5',
 'RIN11',
 'RIN6',
 'RIN1',
 'RIN9',
 'RIN12',
 'RIN3',
 'RIN8',
 'RIN7']

In [7]:
RDD_all_research.count()

12

### How many projects were completed in the first year?

In [8]:
RDD_firstYearCompletedResearch = RDD_data2001List.subtract(RDD_data2002List)
RDD_data2002List.collect()

['RIN3', 'RIN4', 'RIN7', 'RIN8', 'RIN9']

In [9]:
RDD_data2002List.count()

5

### How many projects were completed in the first two years?

In [15]:
RDD_projectsCompletedInFirstTwoYears = (RDD_data2001List.union(RDD_data2002List)).subtract(RDD_data2003List)
RDD_projectsCompletedInFirstTwoYears.distinct().collect()

['RIN2', 'RIN5', 'RIN6', 'RIN1', 'RIN9', 'RIN3', 'RIN7']

In [16]:
RDD_projectsCompletedInFirstTwoYears.distinct().count()

7